body {
    margin: 0;
    font-family: Verdana, sans-serif;
    min-height: 100%;
}
header {
    background-color: #0057B7;
    padding: 10px;
    
    
}
.hdrtxt {
    text-align: center;
}

header .hdrtxt {
    text-align: right;
    margin-top: 1.2em;
}

header .hdrtxt a {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    text-decoration: none;
}

header .hdrtxt-xtr{
    font-size: 0.5em;
}


.content h1{

    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    background-color: #FFD700;
    border-bottom-right-radius: 1em;
    margin: 0; 
    padding: 10px; 
}


nav {
    background-color: #f4f4f4;
    color: black;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin: 15px 0;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
.main-container {
    display: flex;
    height: 100%;
    flex: 1;
}

.content {
    flex: 1;
    padding: 0px;
}
.content h1, .content h2 {
    margin: 0;
}


footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: fixed; 
    bottom: 0; 
    left: 0;
    margin-top: auto;
}